# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/


/git/.vs
/.vs/Primary
/packages
/Primary/bin
/Primary/obj
/Primary.Examples/bin
/Primary.Examples/obj
/Primary.Tests/bin
/Primary.Tests/obj
*.user
